{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<h1>Product</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ product.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ product.Title }}</td>
			</tr>
			<tr>
				<th>Category</th>
				<td>
					{% for category in product.getProductCategory() %}
						<li>{{ category.Title }}</li>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ product.Description }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ product.Date ? product.Date|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>AvRating</th>
				<td>{{ product.AvRating }}</td>
			</tr>
			<tr>
				<th>Belongs to</th>
				<td>
					{% if product.getUser() %}
						{{ product.getUser().email }}
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_product_index') }}">back to list</a>

	<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

	{{ include('product/_delete_form.html.twig') }}
{% endblock %}
